body{
    background-image: url('https://1.bp.blogspot.com/-KuF2Ge3nn00/XcI0RlagaLI/AAAAAAAAHcU/YzCjc4Xi3gwdiQ_MyeMZQ832snzOVqBGACNcBGAsYHQ/s1600/20%2BWALLPAPERS%2BFOFOS%2BPARA%2BCELULAR-universo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Georgia, sans-serif;
    
    }
  
  .menu {
    background-color: pink;
  }
  .menu li{
    list-style: none;
  }
  
  .menu ul{
    display: flex;
    justify-content: space-around;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .menu li{
    list-style: none;
  }
  
  .site-subtitle,
  .site-title{
    text-align: center;
    color: pink;
  }